<div class="container">
  <h2>Bank Information</h2>
  <hr>
      <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-7">
              <select class="custom-select" (change)="onChange($event.target.value)">
                  <option selected>Select City</option>
                  <option *ngFor="let city of cities">{{ city }}</option>
              </select>
          </div>
          <div class="col-sm-3">
          <input [(ngModel)]="searchText"  placeholder="Search.." class="advancedSearchTextbox">
          </div>
      </div>
<hr>
<button type="button" (click)="showlist()"> Favorite banks</button>
<div class=" form-group row">
  <div class="col-md-12">
<table WIDTH="100%" border=1>
  <!-- ADD HEADERS -->
  <tr>
    <th>IFSC</th>
    <th>BANK ID</th>
    <th>BRANCH</th>
    <th>ADDRESS</th>
    <th>CITY</th>
    <th>DISTRICT</th>
    <th>STATE</th>
    <th>BANK NAME</th>
  </tr>
  <!-- BIND ARRAY TO TABLE -->
  <tr *ngFor="let bank of banks$ |async | paginate: { itemsPerPage: 10, currentPage: p }| Filter: {address: searchText,branch: searchText,city:searchText,state:searchText,bank_name:searchText}">
    <td align="center" >{{bank.ifsc}}</td>
          <td align="center" >{{bank.bank_id}}</td>
              <td align="center" >{{bank.branch}}</td>
              <td align="center" >{{bank.address}}</td>
              <td align="center" >{{bank.city}}</td>
              <td align="center" >{{bank.district}}</td>
              <td align="center" >{{bank.state}}</td> 
              <td align="center" >{{bank.bank_name}}</td>
              <td align="center" >favorite<button type="button" (click)="markfav(bank.ifsc)">mark favorite</button></td>  
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
</div>